/* Ini CSS */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    border: 1px solid;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    border-radius: 10%;
}

.nav-container {
    display: flex;
}

.logo-icon {
    height: 48px;
    width: 48px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    border-radius: 50%;
}

.banner-img {
    height: 300px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
}

.profile-container {
    display: flex;
    justify-content: space-around;
}

.profile-item {
    height: 100px;
}

.profile-img {
    height: 50px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 50px;
}

footer {
    text-align: end;
}