/* Ini CSS */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffde3d;
}

.nav-item {
    border: 1px solid;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    border-radius: 10%;
    font-family: 'Geneva', sans-serif;
}

.nav-item:hover {
    color: #ffffffff;
}

.nav-container {
    display: flex;
}

.logo-icon {
    height: 50px;
    width: 50px;
    background-image: url(http://mudikanusantara.biz.id/Nicolas%20Aditya%20Nugroho%20Profile/assets/image/Niicolas-Aditya-Nugroho-1.jpg);
    background-size: cover;
    border-radius: 50%;
}

.banner-img {
    height: 300px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
}

.profile-container {
    display: flex;
    justify-content: space-around;
}

.profile-item {
    height: 100px;
}

.profile-img {
    height: 50px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 50px;
}

footer {
    text-align: end;
    font-weight: bold;
    font-family: 'Geneva', sans-serif;
    background-color: #ffde3d;
}

#footer-icon-logo {
    height: 20px;
    justify-content: space-between;
    align-items: center;
    width: 20px;
    border-radius: 50%;
}

footer a {
    color: #000000;
    font-family: 'Geneva', sans-serif;
    text-decoration: none;
    font-weight: bolder;
}